.catalog__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    row-gap: 53px;
  }
}
