.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__intro {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding: 50px;
}

.contacts__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contacts__link {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $pink;
  padding: 0 40px;
}

.contacts__map {
  max-width: 100%;
  background-color: #ffffff;
  background-image: url("../../images/map.png");
  background-repeat: no-repeat;
  object-fit: contain;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__adress {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    flex-wrap: nowrap;
  }

  .contacts__mail {
    order: 3;
  }

  .contacts__adress {
    flex-grow: 0;
  }
}
