.copyright {
  line-height: 129%;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
  }
}
