.description-app {
  background-color: #f2f2f2;
  z-index: -1;
}

.description-app__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 65px;
}

.description-app__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description-app__list .description-app__img {
  display: none;
}

.description-app__intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.description-app__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  margin: 0;
  padding-top: 17px;
}

.description-app__description {
  text-align: center;
  line-height: 171%;
  margin-top: 12px;
}

.description-app__img {
  display: block;
  margin: 26px auto 0 auto;
  width: 100%;
  height: auto;
  padding: 0 60px 0 62px;
}

@media (min-width: $tablet-width) {
  .description-app__wrapper {
    display: grid;
    grid-template-columns: 43% auto;
    gap: 34px;
    padding-top: 2px;
    position: relative;
  }

  .description-app__img {
    grid-row: 1/-1;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-top: 1px;
    margin-left: 0;
    padding: 0;
  }

  .description-app__list {
    order: 2;
    margin-left: 10px;
    margin-top: 55px;
  }

  .description-app__title {
    text-align: start;
  }

  .description-app__description {
    text-align: start;
    padding-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .description-app__list .description-app__img {
    display: block;
    padding: 0 60px 30px 61px;
  }

  .description-app__img {
    display: block;
    width: 100%;
    height: auto;

    &--no-desktop {
      display: none;
    }
  }

  .description-app__wrapper {
    display: block;
    margin-left: 105px;
    margin-right: 105px;
  }


  .description-app__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 0 0 20px 0;
    margin-left: 0;
    margin-top: 5px;
  }

  .description-app__item {
    z-index: 1;
  }

  .description-app__text {
    background-color: #f2f2f2;
    position: relative;
    padding: 39px 33px;
  }

  .description-app__text-wrapper {
    position: relative;
    margin-top: -110px;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
      height: 17px;
      width: 100%;
      top: -8px;
    }
  }

  .description-app__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
  }

  .description-app__description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    margin-top: 23px;
  }
}
