.description-app {
  background-color: #f2f2f2;
}

.description-app__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.description-app__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description-app__intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.description-app__title {
  padding-top: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
}

.description-app__description {
  text-align: center;
  line-height: 171%;
}

.description-app__img {
  display: none;

  &--mobile {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .description-app__wrapper {
    display: grid;
    grid-template-columns: 300px auto;
  }

  .description-app__img {
    grid-row: 1/-1;
    z-index: 1;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      grid-row: 1/-1;
    }
  }

  .description-app__list {
    order: 2;
    margin-left: 20px;
  }

  .description-app__title {
    text-align: start;
  }

  .description-app__description {
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .description-app__wrapper {
    display: block;
  }

  .description-app__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .description-app__title {
    text-align: center;
  }

  .description-app__description {
    text-align: center;
  }

  .description-app__img {
    display: block;

    &--tablet {
      display: none;
    }
  }

  .description-app__img--mobile {
    display: none;
  }
}
