.description-app {
  position: relative;
  background-color: #f2f2f2;
  z-index: -1;
}

.description-app__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 65px 20px 0 20px;

  &::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 31px;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }
}

.description-app__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.description-app__item:last-child {
  padding-top: 2px;
}

.description-app__list .description-app__img {
  display: none;
}

.description-app__intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.description-app__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  margin: 0;
  padding-top: 16px;
}

.description-app__description {
  text-align: center;
  line-height: 171%;
  margin-top: 12px;
}

.description-app__img {
  display: block;
  margin: 26px auto 0 auto;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 157px;
}

@media (min-width: $tablet-width) {
  .description-app__wrapper {
    display: grid;
    grid-template-columns: 43% auto;
    gap: 34px;
    padding-top: 7px;
    position: relative;

    &::before {
      height: 54px;
      top: 0;
    }
  }

  .description-app__img {
    grid-row: 1/-1;
    z-index: 1;
    width: 100%;
    max-width: 300px;
    margin-top: 1px;
    margin-left: auto;
    padding: 0;
  }

  .description-app__list {
    order: 2;
    margin-left: 10px;
    margin-top: 55px;
  }

  .description-app__title {
    text-align: start;
  }

  .description-app__description {
    text-align: start;
    padding-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .description-app {
    margin-top: -2px;
  }

  .description-app::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }

  .description-app__list .description-app__img {
    display: block;
    min-width: 186px;
    width: 186px;
    max-width: 200px;
  }

  .description-app__img {
    display: block;
    width: 100%;
    height: auto;

    &--no-desktop {
      display: none;
    }
  }

  .description-app__wrapper {
    display: block;
    padding-left: 123px;
    padding-right: 123px;

    &::before {
      display: none;
    }
  }


  .description-app__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 0 0 20px 0;
    margin-left: 0;
    margin-top: 0;
  }

  .description-app__item {
    z-index: 1;

    &:first-child .description-app__text {
      padding: 39px 33px 33px 36px;
    }

    &:nth-child(3n) .description-app__text {
      padding: 38px 36px 33px 33px;
    }
  }

  .description-app__text {
    background-color: #f2f2f2;
    position: relative;
    padding: 39px 33px;
  }

  .description-app__text-wrapper {
    position: relative;
    margin-top: -82px;
    z-index: 1;
    padding-top: 2px;

    &::before {
      position: absolute;
      content: "";
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
      height: 17px;
      width: 100%;
      top: -8px;
    }
  }

  .description-app__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
  }

  .description-app__description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    margin-top: 23px;
  }
}
