.effect {
  display: none;
}

.effect__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.effect__description {
  line-height: 171%;
}

.effect__link {
  text-decoration: underline;
  color: #d22856;
  line-height: 171%;
}
