.footer {
  padding: 32px 70px;
  width: 100%;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__icon {
  fill: #283645;

  &--glasses {
    fill: $pink;
    margin-right: 9px;
  }
}

.footer__link:hover > .footer__icon {
  fill: $pink;
}

.footer__link:active > .footer__icon {
  fill: rgba(210, 40, 86, 0.3);
}

.footer__link:active > .footer__icon--text {
  fill: rgba(40, 54, 69, 0.3);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 26px 20px;
    width: 100%;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__logo {
    margin: 0;
    margin-top: -13px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 58px 130px;
    width: 100%;
  }
}
