.form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 19px;
}

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 42px;
}

.form__label {
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
}

.form__required {
  color: $pink;
  font-style: normal;
}

.form__title {
  text-transform: uppercase;
  color: $pink;
  line-height: 129%;
  text-align: center;

  &--hidden {
    display: none;
  }
}

.form__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-transform: uppercase;
  color: #ffffff;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  cursor: pointer;

  &:hover {
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
    border-radius: 1px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
    border-radius: 1px;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    padding: 0;
    margin-bottom: 35px;
  }

  .form__person {
    order: 1;
  }

  .form__platform {
    order: 2;
  }

  .form__person-contacts {
    order: 3;
  }

  .form__achievements {
    order: 4;
  }

  .form__emotions {
    order: 5;
  }

  .form__button-wrapper {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 67px;
  }

  .form__button {
    padding: 14px 56px;
    width: auto;
  }

  .form__hidden {
    display: inline-block;

    &--not-tablet {
      display: none;
    }
  }

  .form__title--hidden {
    display: inline-block;
  }

  .form__label {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    padding: 0 130px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
  }

  .form__person-contacts,
  .form__emotions,
  .form__achievements,
  .form__button-wrapper {
    width: 100%;
  }

  .form .form__button {
    padding: 15px 56px;
  }

  .form__button-wrapper {
    padding: 0;
    margin-top: 65px;
  }

  .form__hidden--not-tablet {
    display: inline-block;
  }
}
