.header {
  background-color: #1d2631;
  background-image: url("../../images/background-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 0;

  &--main {
    background-image: url("../../images/phone-screen.png"), url("../../images/background-mobile.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 100% auto;
    background-position: 50% 175px, 50% 0;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__wrapper-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  height: 66px;
}

.header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 129%;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 36px 46px;

  &--index {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .header--main {
    background-position: right 175px, 50% 0;
  }

  .header__wrapper-nav {
    padding: 21px 20px;
    height: 110px;
  }

  .header__wrapper--index {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .header__title {
    font-size: 40px;
    line-height: 120%;
    margin: 0 auto;
    padding: 81px 20px 74px 20px;

    &--index {
      padding: 29px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .header--main {
    background-position: right 175px, 50% 0;
  }

  .header__wrapper-nav {
    padding: 0 130px;
  }

  .header__wrapper--index {
    padding-left: 130px;
  }

  .header__title {
    font-size: 40px;
    line-height: 120%;
    margin: 0 auto;
    padding: 74px 202px 104px 202px;

    &--index {
      padding: 29px 20px;
      font-size: 50px;
      line-height: 136%;
      margin: 0 auto;
    }
  }
}
