.header {
  position: relative;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.header__wrapper-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  color: #ffffff;
  min-height: 66px;
  max-width: 1200px;
}

@media (min-width: $tablet-width) {
  .header__wrapper-nav {
    padding: 21px 20px;
    min-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper-nav {
    padding: 0 100px 0 130px;
  }
}
