.intro {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  padding: 44px 38px 32px 38px;

  &--index {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    padding: 0;
    padding-top: 41px;
    z-index: 0;

    p:last-of-type {
      padding-bottom: 31px;
    }
  }

  &--form {
    padding: 44px 20px 32px 20px;
  }
}

.intro__hidden {
  display: none;
}

.intro__text--no-mobile {
  display: none;
}

.intro__text--index {
  color: #283645;
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .intro {
    font-size: 18px;
    line-height: 167%;
    padding: 92px 65px 56px 65px;

    &--index {
      padding: 50px 36px 26px 36px;

      p:last-of-type {
        padding: 0;
      }
    }
  }

  .intro__hidden {
    display: inline-block;
  }

  .intro__text--no-mobile {
    display: block;
  }

  .intro__text--index {
    font-weight: 300;
    font-size: 40px;
    line-height: 135%;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    font-size: 18px;
    line-height: 167%;
    padding: 63px 280px 69px 280px;
    margin-top: 28px;

    &--index {
      margin: 0;
      padding: 63px 202px 50px 202px;
    }

    &--form {
      padding: 63px 220px 69px 220px;
    }
  }

  .intro__text {
    display: inline-block;

    &--index {
      font-weight: 300;
      font-size: 50px;
      line-height: 136%;
      display: block;
    }
  }

  .intro__text--no-mobile {
    display: inline-block;
  }
}
