.intro__text {
  font-size: 14px;
  line-height: 214%;
  color: #283645;
  text-align: center;
}

.intro__text--index {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
}
