.logo {
  display: flex;
  align-items: center;
  z-index: 11;
  padding-top: 16px;
}

.logo__img {
  fill: #ffffff;

  &--glasses,
  &--glasses-star,
  &--text-star {
    display: none;
    fill: #ffffff;
  }

  &--text {
    display: inline-block;
  }
}

.logo__img .logo__icon-star {
  fill: $pink;
}

.logo__link {
  padding-top: 7px;

  &:hover > .logo__img {
    fill: $pink;
  }

  &:active > .logo__img {
    fill: #ffffff;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .logo__link {
    margin-top: -16px;
  }

  .logo__img--glasses {
    display: inline-block;
    margin-right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .logo__link {
    margin-top: 4px;
  }

  .logo__img--glasses,
  .logo__img--text {
    display: none;
  }

  .logo__img--glasses-star,
  .logo__img--text-star {
    display: inline-block;
  }

  .logo__img--glasses-star {
    margin-right: 8px;
  }
}
