.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__list {/*TODO*/
  /*display: flex;*/
  display: none;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #ffffff;
}

.navigation__toggle {
  align-self: end;
}

@media (min-width: $desktop-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: auto;
  }

  .navigation__item:not(:last-child) {
    margin-right: 79px;
  }

  .navigation__link {
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}
