.navigation__link {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #ffffff;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
