.person__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.person__label {
  color: $pink;
  line-height: 214%;
  text-transform: uppercase;
}

.person__input {
  font-size: 18px;
  line-height: 167%;
}
