.photo {
  margin: 0;
  padding: 0;

  &--panorama {
    width: 100%;
  }
}

.photo__author {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
}

.photo__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
}

.photo__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
}

.photo__likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-align: right;
  text-transform: uppercase;
  color: $pink;
}
