.platform {
  position: relative;
  border: none;
  background: #f2f2f2;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 3px;
}

.platform__title {
  text-align: center;
  position: absolute;
  top: 39px;
  padding-right: 22px;
}

.platform__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 115px;
  padding-left: 70px;
}

.platform__item:not(:last-child) {
  padding-bottom: 45px;
}

.platform__item:last-child {
  padding-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .platform {
    margin: 0 20px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  .platform__title {
    position: static;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .platform__list {
    padding-top: 49px;
    padding-left: 99px;
  }

  .platform__item:last-child {
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .platform {
    width: 46%;
    margin: 0;
  }

  .platform__list {
    padding-top: 51px;
    padding-left: 111px;
  }
}
