.post__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  padding: 28px 20px;
  padding-top: 32px;
}

@media (min-width: $tablet-width) {
  .post__title {
    font-size: 18px;
    line-height: 167%;
    padding: 50px 119px 54px 119px;
  }
}

@media (min-width: $desktop-width) {
  .post {
    margin-bottom: -9px;
  }

  .post__title {
    padding: 44px 389px 51px 389px;
  }
}
