.reviews {
  margin-top: -42px;
  position: relative;
  background-color: #ffffff;
  padding: 22px 20px 34px 20px;
  z-index: 2;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.reviews__autor {
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  margin-bottom: 14px;
}

.reviews__description {
  display: none;
}

.reviews__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
}

.reviews__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-top: 50px;
    padding-bottom: 11px;
  }

  .reviews__autor {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    margin: 34px 0 0 0;
    order: 2;
  }

  .reviews__description {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    margin: 0;
    order: 3;
  }

  .reviews__comment {
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 2px 130px 13px 130px;
  }

  .reviews__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      width: 79px;
      height: 63px;
      background-image: url("../../images/quotes.svg");
      background-color: #ffffff;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
    }
  }

  .reviews__item {
    padding: 133px 60px 20px 60px;
  }

  .reviews__autor {
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    margin: 36px 0 0 0;
    order: 2;
  }

  .reviews__description {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    margin: 0;
    order: 3;
    padding-top: 1px;
  }

  .reviews__comment {
    max-width: 690px;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    margin: 0;
  }

  .reviews__button {
    display: block;
    width: 22px;
    height: 41px;
    background-color: #ffffff;
    color: #283645;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 8px;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .reviews__toggles {
    display: none;
  }
}
