.slider__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  text-align: center;
}

.slider__item:not(:first-child) {
  display: none;
}

.slider__toggles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 34px;
  margin-left: -9px;
}

.slider__toggle {
  cursor: pointer;
  position: relative;
  border: none;
  padding: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  margin: 0 8px;
}

.slider__toggle:hover {
  background-color: rgba(40, 54, 69, 0.6);
}

.slider__toggle:active {
  background-color: rgba(40, 54, 69, 0.1);
}

.slider__toggle--active {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 3px solid #283645;
  background-color: #ffffff;
  transform: translateY(-25%);

  &:hover {
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .slider__toggles {
    margin-top: 30px;
    padding-top: 8px;
    margin-right: -2px;
  }
}

@media (min-width: $desktop-width) {
  .slider__toggles {
    display: none;
  }
}
