.social__list {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item {
  padding: 15px;
  margin: 0 10px;

  :nth-child(3n) {
    margin: 0;
  }
}
