.social__list {
  min-width: 180px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 28px;
}

.social__item {
  width: 54px;
  height: 54px;
  margin-right: 9px;
  margin-bottom: 9px;

  &:nth-child(3n) {
    margin: 0;
  }
}

.social__item--telegramm .social__icon {
  margin-bottom: 3px;
  margin-left: 1px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 54px;
  height: 54px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:hover {
    border: 3px solid rgba(40, 54, 69, 1);
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-bottom: 0;
    margin-top: -11px;
    margin-left: -17px;
  }

  .social__item--telegramm .social__icon,
  .social__item--youtube .social__icon {
    margin-bottom: 2px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-left: 8px;
  }
}
