.store__download {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}

.store_platforms {
  font-weight: 300;
  line-height: 171%;
  color: #ffffff;
  text-align: center;
}
