.store {
  width: 100%;
  margin-top: 270px;
  padding-top: 20px;
  background-color: #1d2631;
}

.store__download {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px;
  padding: 21px 28px;
}

.store_platforms {
  font-weight: 300;
  line-height: 171%;
  color: #ffffff;
  text-align: center;
}

.store__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .store {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .store {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent;
  }

  .store_platforms {
    font-size: 18px;
    line-height: 133%;
  }
}
