.tariffs__wrapper {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .tariffs__wrapper {
    padding: 20px;
  }

  .tariffs__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__wrapper {
    padding: 130px 100px;
  }

  .tariffs__toggles {
    display: none;
  }
}
