.tariffs-table {
  border-collapse: collapse;
  width: 840px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  background-color: #ffffff;
}

.tariffs-table__features {
  display: flex;
  justify-content: space-between;
  padding: 14px 17px 17px 20px;

  &--filter::before {
    content: "Розовый фильтр";
  }

  &--smiles::before {
    content: "Смайлики";
  }

  &--comments::before {
    content: "Комментарии";
  }
}

.tariffs-table__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
}

.tariffs-table__cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  margin-top: -2px;
}

.tariffs-table__head {
  padding: 12px 15px;
  margin: 0;
  color: #ffffff;
  background-color: #283645;
  border-top: none;
  padding-bottom: 28px;
}

.tariffs-table__cell {
  border: 2px solid #e5e5e5;
  text-transform: uppercase;
  border-collapse: collapse;
  width: 280px;

  &--caption {
    display: none;
    line-height: 214%;
  }

  &--hit {
    position: relative;
    overflow: hidden;
  }

  &--hit::after {
    position: absolute;
    top: 19px;
    left: -29px;
    content: "Хит";
    width: 111px;
    font-weight: 400;
    font-size: 14px;
    line-height: 162%;
    transform: rotate(-45deg);
    text-transform: uppercase;
    background-color: #d22856;
    color: #ffffff;
  }

  &--hidden {
    border: none;
    background-color: #f2f2f2;
    border-top: 3px solid #f2f2f2;
    border-left: 2px solid rgb(242, 242, 242);
  }
}

@media (min-width: $tablet-width) {
  .tariffs-table {
    width: 100%;
    max-width: 944px;
  }

  .tariffs-table__head {
    padding-bottom: 9px;
  }

  .tariffs-table__cell {
    min-width: 150px;
    max-width: 233px;

    &--caption {
      display: table-cell;
      padding: 7px 14px;
      font-weight: 400;
      font-size: 14px;
      line-height: 214%;
      text-transform: none;
      text-align: start;
    }

    &--hit::after {
      top: 15px;
      left: -35px;
      line-height: 136%;
    }
  }

  .tariffs-table__features {
    justify-content: center;
    padding: 7px 14px;

    &--filter::before {
      display: none;
    }

    &--smiles::before {
      display: none;
    }

    &--comments::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .tariffs-table__head {
    padding-bottom: 21px;
    padding-top: 17px;
  }

  .tariffs-table__cell--hit::after {
    top: 19px;
    left: -30px;
    line-height: 164%;
  }

  .tariffs-table__title {
    font-size: 18px;
    line-height: 167%;
  }

  .tariffs-table__cost {
    font-weight: 300;
    font-size: 24px;
    line-height: 125%;
    margin-top: 0;
  }

  .tariffs-table__cell--caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    padding: 14px 21px;
  }
}
