.tariffs {
  position: relative;
  background-color: #f2f2f2;
  padding-bottom: 43px;
}

.tariffs__wrapper {
  position: relative;
  padding: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 99px;
  padding-bottom: 41px;
  background-color: #f2f2f2;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 18px;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }
}

.tariffs__toggles {
  margin-top: 0;
  margin-left: -1px;
}

@media (min-width: $tablet-width) {
  .tariffs {
    padding-bottom: 50px;
  }

  .tariffs__wrapper {
    padding: 20px;
    padding-top: 95px;

    &::before {
      height: 41px;
    }
  }

  .tariffs__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__wrapper {
    padding: 155px 128px 47px 128px;

    &::before {
      display: none;
    }
  }

  .tariffs__toggles {
    display: none;
  }

  .tariffs::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }
}
