.tariffs-table__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
}

.tariffs-table__cost {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
}

.tariffs-table__cell {
  width: 280px;
}

.tariffs-table__cell--caption {
  line-height: 214%;
}
