@import "./global/default.scss";
@import "./global/fonts.scss";
@import "./global/visually-hidden.scss";
@import "./global/container.scss";
@import "./global/variables.scss";
@import "./blocks/achievements.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog.scss";
@import "./blocks/contacts.scss";
@import "./blocks/control.scss";
@import "./blocks/copyright.scss";
@import "./blocks/description-app.scss";
@import "./blocks/effect.scss";
@import "./blocks/emotions.scss";
@import "./blocks/footer.scss";
@import "./blocks/form.scss";
@import "./blocks/header.scss";
@import "./blocks/intro.scss";
@import "./blocks/logo.scss";
@import "./blocks/modal.scss";
@import "./blocks/navigation.scss";
@import "./blocks/page.scss";
@import "./blocks/person-contacts.scss";
@import "./blocks/person.scss";
@import "./blocks/photo.scss";
@import "./blocks/platform.scss";
@import "./blocks/post-form.scss";
@import "./blocks/post.scss";
@import "./blocks/prolog.scss";
@import "./blocks/reviews.scss";
@import "./blocks/slider.scss";
@import "./blocks/social.scss";
@import "./blocks/store.scss";
@import "./blocks/tariffs-table.scss";
@import "./blocks/tariffs.scss";
